<?xml version='1.0' encoding='utf-8'?>
<widget id="com.busdetective.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BusDetective</name>
    <description>Find your bus!</description>
    <author email="hello@teamgaslight.com" href="https://teamgaslight.com">Gaslight</author>
    <content src="http://busdetective.com" />
    <access origin="*" />
</widget>
